<footer class="footer">
	<div>
		<ul class="list-inline logos">
			<li class="">
				<a href="http://jplusplus.org" target="_blank">
					<img class="jpp_logo" src="{{ url_for("static", filename="logos/JPP_Logo.png") }}" alt="Journalism ++">
				</a>
				<a href="http://medialabkatowice.eu" target="_blank">
					<img class="medialab_logo" src="{{ url_for("static", filename="logos/medialab_bw.png") }}" alt="Medialab Katowice">
				</a>
			</li>
		</ul>
	</div>
	<div class="row clearfix">
		{% trans %}
		
		<div><span class="mentions">CC-BY-SA Medialab Katowice.</span></div> 
		{% endtrans %}
	</div>
	
</footer>
