{% extends 'base.html' %}

{% block menu %}

<ul class="nav navbar-nav chapters">
	<li class="active"><a href="#start">Intro</a></li>
	<li><a href="#Numbers">In Numbers</a></li>
	<li><a href="#Slavery">SEZ blues</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="main">

	<div class="main_title" id="start" data-src="{{ url_for("static", filename="images/main.JPG") }}">
		<div class="lead">
			Zone Silesia
			<p class="little">An in-depth report on the Katowice Special Economic Zone</p>
		</div>
		<span class="scroll-indicator">
			<div class="icon icon-arrow-down"></div>
		</span>
	</div>
	<div class="article container" id="start">
		<div class="body">

			<div class="iframe fullwidth" data-ratio="2" data-src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AoyB4z2na9_KdGpSWm5FbFI4R2gzTDlGVm5YbDBmaUE&font=Georgia&maptype=toner&lang=en'></div>

			<h3 class="fullwidth">Map of the special economic zone</h3>
			<p>You see here the Opel factory in Gliwice. Navigate through the map to see the 250 companies of the SEZ.</p>

			<div class="iframe fullwidth" data-ratio="3" data-src="http://essseb.cartodb.com/viz/e25140ee-e3f1-11e3-88ed-0e10bcd91c2b/embed_map?title=false&description=false&search=true&shareable=false&cartodb_logo=true&layer_selector=false&legends=true&scrollwheel=false&fullscreen=false&sublayer_options=1%7C1%7C1&sql=&zoom=14&center_lat=50.318&center_lon=18.62"></div>

		</div>
	</div>

	<div class="illustration full" data-src="{{ url_for("static", filename="images/ksse.jpg") }}" data-ratio="2.120890774">
		<div class="title">The Zone in numbers</div>
	</div>
	<div class="article container" id="Numbers">
		<div class="body">
			
		<p>The Katowice Special Economic Zone started from 800ha of former agricultural, industrial and wasteland areas in Silesia. As part of the broader revitalisation agenda for the region formerly burdened with heavy industry, it was supposed to bring modern companies, innovation and employment opportunities.
		</p>
			<div class="iframe" data-ratio="1.9" data-src="http://cf.datawrapper.de/6YWic/2/"></div>

		<p>The Zone now comprises over 2000ha of industrial space, i.e. roughly 13% of the total area of economic zones in Poland, offering 50 000 jobs, mostly in automotive industry. Over three quarters of jobs in SEZ are newly created ones, the remainder classified as sustained positions. In 2012 there were 227 active licences for operating in the zone, as compared to only 49 at the turn of the millennium.
		</p>
			<div class="iframe" data-ratio="1.9" data-src="http://cf.datawrapper.de/LRdug/2/"></div>

		<p>
		Companies in the zone invest substantially more per employee than the average company outside, making over twice as much investment per employee in 2012. This testifies to the role of SEZ as a catalyst for investment. 
		</p>
			<div class="iframe" data-ratio="1.9" data-src="http://cf.datawrapper.de/U3QL7/2/"></div>

		<p>While the zone is a substantial contributor to employment and investment in the area, substantial tax allowances were established for the SEZ entrants in Poland. Over the period 1996–2012, tax exemptions summed to a figure in excess of PLN 10 billion. Assuming that Katowice’s Special Economic Zone is roughly 20% of Polish economic zones in terms of size, a back-of the-envelope calculation suggests  PLN 2 billion over the 16 years, or PLN 130 million per annum, offered in the form of public support to companies involved. The PLN 20 billion worth of investment brought to the Special Economic zone seems a good rationale for such sizable public outlay. However, whether this investment would not have happened had it not been for the economic zone, remains elusive.
		</p>
			<div class="iframe" data-ratio="1.9" data-src="http://cf.datawrapper.de/YO9Pd/2/"></div>

		<h3 class="fullwidth">The <span class="big-number">5</span> biggest investors in the KSSE</h3>
		<div class="factbox">
			<div class="amount">642,000,000 zł</div>
			<div class="equivalent">This is the amount needed to build 64 km of highways.</div>
			<div class="company"><strong>Eaton Automotive Systems (USA)</strong> arrived in the KSSE in 2006</div>
			<div class="sector">Automotive parts, Jastrzębsko-Żorska</div>
		</div>
		<div class="factbox">
			<div class="amount">505,000,000 zł</div>
			<div class="equivalent">This is the amount needed to build 50 km of highways.</div>
			<div class="company"><strong>Kirchhoff (Germany)</strong> arrived in the KSSE in 2006</div>
			<div class="sector">Automotive, Gliwicka</div>
		</div>
		<div class="factbox">
			<div class="amount">289,000,000 zł</div>
			<div class="equivalent">This is the cost of building 1,500 apartments in Katowice.</div>
			<div class="company"><strong>Mapei (Italy)</strong> arrived in the KSSE in 2003</div>
			<div class="sector">Construction materials, Gliwicka</div>
		</div>
		<div class="factbox">
			<div class="amount">156,000,000 zł</div>
			<div class="equivalent">About 1 free Starbucks Americano for each female adult in Poland.</div>
			<div class="company"><strong>Mokate (Poland)</strong> arrived in the KSSE in 2002</div>
			<div class="sector">Food, Jastrzębsko-Żorska</div>
		</div>
		<div class="factbox">
			<div class="amount">150,000,000 zł</div>
			<div class="equivalent">That is the price of 340 tons of Arabica coffee.</div>
			<div class="company"><strong>Instanta (Poland)</strong> arrived in the KSSE in 2000</div>
			<div class="sector">Food, Jastrzębsko-Żorska</div>
		</div>
			
		</div>
	</div>

	<div class="illustration full" data-src="{{ url_for("static", filename="images/strike.JPG") }}" data-ratio="2.120890774">
		<div class="title">The SEZ blues</div>
	</div>
	<div class="article container" id="Slavery">
		<div class="body">
			
			<p>In order to understand the plight of employees at the lowest level of the Katowice Special Economic Zone, we need to briefly leave the world of hard data and move towards human emotions instead. When reading hundreds of reviews, posted by mostly anonymous workers on Gowork.pl, an employee review site set up to exchange information on working conditions in several thousands of smaller and larger companies operating in Poland, and checking media reports on workers' protests, we see a much different picture of the KSEZ than the one painted in investors’ promotional material or coming from those lobbying for further development of the area.</p>

			<p>Among the thousands of online comments on companies operating in the KSSE, terms such as "labor camp," "slavery," and "exploitation," reverberate throughout the site. </p>

			<p>Such comments elaborate on the many harsh aspects of being a worker in the KSSE: low wages, workers' rights violations, as well as numerous reports of “junk contracts,” which do not guarantee any social benefits or long-term employment. Accusations of corporate lobbying is also a common theme on the site. </p>

			<p>The conditions prevailing in the Lower Silesian SEZ, analyzed by Malgorzata Maciejewska, representative of Feminist Think Tank. In their report, titled "<a href="http://www.ekologiasztuka.pl/pdf/strefy_raport_maciejewska_2012.pdf">Tired body and invaluable products: Working conditions of women in the special economic zone of the electronics industry"</a> (PDF), the author summarizes a two-month employment in one of the zone’s companies:<p>

			<div class="quote">
				<div class="body workersquote">Stay away from the factory. I spent three months working twelve hours a day and did not get overtime. Practically working for free.</div>
				<div class="author"><a href="http://www.gowork.pl/opinie_czytaj_3,10884,0,0,0">Kirhoff</a></div>
			</div>

			<div class="quote">
				<div class="body workersquote">There are no unions. The work is hard and monotonous. You work 8 hours to unworkable productivity standards. We’re mistreated, e.g. there’s a constant threat of layoffs, we work 8 hours with just one 15 minute break. The atmosphere is awful, and overtime is paid once per quarter. In a nutshell – a modern-day labour camp.</div>
				<div class="author"><a href="http://www.gowork.pl/opinie_czytaj_3,10884,0,0,0">Kirhoff</a></div>
			</div>

			<div class="quote">
				<div class="body workersquote">The pay and the way they treat you is more akin to slavery. Fortunately, I managed to get out of there, but I would like to warn all against this labour camp.</div>
				<div class="author"><a href="http://wiadomosci.onet.pl/forum/w-fabryce-axeon-w-gliwicach-produkcja-akumulatorow,607160,czytaj-popularne.html">Axeon</a></div>
			</div>


			
			<div class="quote">
				<div class="body workersquote">Want to know the real labour camps? Feel free to visit the Gliwice SEZ, you will find at least a couple there. And it’s the Polish managers teaching foreign investors how to treat people like cattle!</div>
				<div class="author"><a href="http://labirynt-mysli-moich.blog.onet.pl/2011/09/22/praca-na-produkcji/">Kirhoff</a></div>
			</div>


			<div class="quote">
				<div class="body workersquote">These places are modern day slave farms. Junk work contracts, minimum wage, 3-shift rotas with no shift premiums. Slave labour, no less.</div>
				<div class="author"><a href="http://labirynt-mysli-moich.blog.onet.pl/2011/09/22/praca-na-produkcji/">Kirhoff</a></div>
			</div>

			
			<div class="quote">
				<div class="body workersquote">I worked with some Italians at the KSEZ. 3 shifts, no premiums, Mickey Mouse contracts at 1200 zlotys per month. A tin hut with heating turned off, fingers numb from the cold, trying to put together some complex components, and an Italian guy shouting out the few words he knew in Polish: “Faster, faster, or get out”.</div>
				<div class="author"><a href="http://labirynt-mysli-moich.blog.onet.pl/2011/09/22/praca-na-produkcji/">Kirhoff</a></div>
			</div>

			<p>The life of workers is "draining," monotonous, low-paid and dangerous to health. For all this risk, it is not even usually a stable form of employment …</p> 

			<p>The companies will not admit to the consequences related to working in the factory. To make matters worse, the health risks often don’t appear until years later, which makes the physical toll of working in factories significantly less visible. </p>

			<p>High technology carries a high cost: the life and health of workers. Lack of sleep, overtime, stress due to employment instability, dangerous daily commutes, and lastly, the presence of harmful chemical substances in the workplace all contribute to the downside of working in the factory.”
			
			<p>It should come as no surprise that in recent years employees of the factories operating in the Katowice Special Economic Zone have begun protesting. </p>

			<p>In 2011, the media reported on the strike of employees at Sosnowiec Bitornu. The workers were demanding salary increases (ranging from 900 to 1400 PLN) and increases in long-term employment contracts. </p>

			<div class="illustration full" data-src="static/images/strajkmaly.jpg" data-ratio="1.709401709">
				<div class="legend">Social movements of the 1990's led to the creation of the special economic zone. &copy; Polska Agencja Prasowa</div>
			</div>

			<p>Two years later there was another strike, but this time the strike was in response to massive layoffs after the transfer of part of production to cheaper foreign markets. At BMZ in Gliwice, women protested wrongful dismissal, relentless lobbying, and harassment of activists who belonged to company unions. </p>

			<blockquote>“All that matters to the owner is profit, we are simply a mass to work. Mostly, people are afraid of losing their jobs. He who raises their voice or expresses their opinion, is fired. People are afraid of losing these jobs. To work, they are eager to be enslaved and used. They will tell untrue or true things about their colleagues in order to get ahead. But we don’t want this atmosphere here.” </blockquote>


			<p>The largest number of protests, however, took place at Fiat Auto Poland; one of the largest employers in the Katowice Special Economic Zone.</p>

			<p>The employees repeatedly undertook general strikes: refusing low salaries, lack of stable employment and the exploitation of workers. </p>

			<p>The situation in the factory provoked national discussion, becoming the subject of parliamentary debates, ministerial speeches, and even songs:</p>

			<p><script type="text/javascript" src="http://www.wrzuta.pl/embed_audio.js?key=73dA2CkneeU&amp;login=w851&amp;width=424&amp;height=110"></script></p>

			<p>Today, trade unionists and workers are still struggling with the management of the company to agree upon decent working conditions.</p> 

			<p>The irony of it? This is the same factory where workers in 1992 participated in the longest sit-down strike in modern Polish history and one of the most important effects of this strike was the beginning of negotiations about building Katowice Special Economic Zone.</p>


			
		</div>
	</div>

	
</div>

</div><!-- /.container -->

{% endblock %}
