{% extends 'base.html' %}
{% block content %}

<div class="main">

	<div class="main_title" id="start" data-src="{{ url_for("static", filename="images/main.JPG") }}">
		<div class="lead">
			{% trans %}Polish header{% endtrans %}
			<p class="little">{% trans %}Subhead{% endtrans %}</p>
		</div>
		<span class="scroll-indicator">
			<div class="icon icon-arrow-down"></div>
		</span>
	</div>
	<div class="article container" id="start">
		<div class="body">
			{% trans %}
			<p>Text. <a href="http://www.example.com" target="_blank">Link</a>.</p>
			{% endtrans %}

			<div class="iframe" data-ratio="1" data-src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AoyB4z2na9_KdGpSWm5FbFI4R2gzTDlGVm5YbDBmaUE&font=Bevan-PotanoSans&maptype=toner&lang=en'></div>

			<div class="iframe" data-ratio="1.5" data-src="http://cf.datawrapper.de/6YWic/1/"></div>
			<div class="iframe" data-ratio="1.5" data-src="http://cf.datawrapper.de/LRdug/1/"></div>
			<div class="iframe" data-ratio="1.5" data-src="http://cf.datawrapper.de/U3QL7/1/"></div>
			<div class="iframe" data-ratio="1.5" data-src="http://cf.datawrapper.de/YO9Pd/1/"></div>
			
		</div>
	</div>

	<div class="illustration full" data-src="{{ url_for("static", filename="images/medialab.jpg") }}" data-ratio="2.120890774">
		<div class="title">{% trans %}Subtitle{% endtrans %}</div>
	</div>
	<div class="article container" id="anchor1">
		<div class="body">
			{% trans %}
			<p>Text. <a href="http://www.example.com" target="_blank">Link</a>.</p>
			{% endtrans %}
		</div>
	</div>

	
</div>

</div><!-- /.container -->

{% endblock %}
